$mq-breakpoints: (mobile:320px, tablet:740px, desktop:980px, wide:1300px);

// VARIABLES
$sb: ".social-button";
$networks: facebook,
google,
pinterest,
whatsapp,
twitter;

// THE DATASET FOR SOCIAL COLORS
$socialColors: (facebook: #3b5998,
    google: #db4437,
    pinterest: #c8232c,
    whatsapp:#25D366,
    twitter: #1da1f2);

#{$sb} {
    border: none;
    border-radius: 4px;
    color: $white;
    user-select: none;
    cursor: pointer;

    // --> NETWORKS <--
    @each $network in $networks {
        &--#{network} {
            background: map-get($socialColors, $network);
        }
    }
}