/* CURATED COLOR PALLETES */
/* from https://www.color-hex.com/ */
$light-color: #EEE;
$dark-color: #111;

/* Blueberry Flavored Toxins Color Palette */
$primary-color: #21acf3;
$secondary-color: #23bfbb;
$background-color: #25d283;
$foreground-color: #27e54b;
$alternative-color: #28f618;

/* Ferrari 1 Color Palette */
$primary-color: #d40000;
$secondary-color: #ed2603;
$background-color: #ff2802;
$foreground-color: #fff200;
$alternative-color: #000000;

/* Naomi Sky Color Palette */
$primary-color:#ff8b3d;
$secondary-color: #ff3f3f;
$background-color: #ffa395;
$foreground-color: #6450ff;
$alternative-color:#8ec7f4;

/* SonicRainboom Color Palette */
$primary-color:#fc3b3b;
$secondary-color: #e67936;
$background-color: #f7de80;
$foreground-color:#27ae5d;
$alternative-color:#4788cc;

/* Spooky season soon Color Palette */
$primary-color: #8179dd;
$secondary-color:#7959a3;
$background-color:#fb8654;
$foreground-color: #b2435f;
$alternative-color: #893457;

/* Nature figures Color Palette */
$primary-color: #e64b35;
$secondary-color:#4dbbd5;
$background-color: #00a087;
$foreground-color: #3c5488;
$alternative-color: #f39b7f;

/* Beach Color Palette */
$primary-color:#96ceb4;
$secondary-color: #ffeead;
$background-color: #ff6f69;
$foreground-color: #ffcc5c;
$alternative-color: #88d8b0;

/* SnakeBones Color Palette */
$primary-color:#7ca9b2;
$secondary-color: #508e9a;
$background-color: #3b7f8d;
$foreground-color: #09414d;
$alternative-color: #063842;

/* Beautifull Blues Color Palette */
$primary-color: #011f4b;
$secondary-color: #03396c;
$background-color: #005b96;
$foreground-color: #6497b1;
$alternative-color: #b3cde0;