@import '../styles/base/base';

/* 10px = 1em */
html {
    font-size: 62.5%;
}

body {
    font-size: $default-font-size;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $main-font;

}

h1 {
    @include main-title();
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: $alt-font;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}